<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remind</title>
</head>
<body>
    不好意思，諮詢頁面已經開著囉~ 
    <br/>
    Sorry for inconvenice, helper page has already been opened. 
    <br/>
    <br/>
    可能原因： 1. 您開啟另一個諮詢頁面  2. 測試帳號目前有人已經登入且正在使用諮詢頁面 ( 如果使用test@gmail.com登入 )
    <br/>
    Possible reason: 1. You tried to open another helper page. 2. The test account ( test@gmail.com ) is being used by another person.
</body>
</html>