/*右上標題區塊*/

.helper-title-container{
    border-bottom: 3px rgb(211,211,211,0.5) solid;
    background-color: rgb(225,225,225);
    display: flex;
    align-items: center;
}

.helper-title{
    position: absolute;
    right: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 35px;
    color: #F0754F;
}


/*side bar*/

.status-container{
    height: 350px;
    overflow-y: auto;
}

.status {
    color: aliceblue;
    font-size: 18px;
    padding-left: 30px;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

.status:hover{
    opacity: 0.8;
    cursor: pointer;
}



.status > .status-photo-container{
    display: inline-block;
    position: relative;
}

.status-photo-container > img{
        display: inline-block;
        vertical-align: middle;
        background-color: aliceblue;
        border-radius: 50%;
        width: 25px;
        margin-right: 5px;
}


.status-light{
    display: inline-block;
    border: 2px solid;
    width: 10px;
    height: 10px;
    background-color: darkgray;
    border-radius: 50%;
    position: absolute;
    right: 2px;
    bottom: 0px;
}

.online{
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: lightgreen;
    border-radius: 50%;
    position: absolute;
    right: 2px;
    bottom: 0px;
}



.status >span{
    vertical-align: middle;
}

.nutri-name,.user-name{
    vertical-align: middle;
    position: relative;
}

.unread{
    display: inline-block;
    position: absolute;
    width: 20px;
    top: -10px;
}

/*message panel 區塊*/

.message-panel{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 8fr 1fr;
}

.display-message-section{
    overflow-y: auto;
    height: 550px;
}

*::-webkit-scrollbar {
    background: lightgray;
}

*::-webkit-scrollbar-thumb {
    background-color: #707070;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
}


#input-message-section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
#message{
    flex: none;
    width:90%;
    height:34px;
    padding-left: 5px;
    border-width:1px;
    border-radius: 8px;
    border: 1px rgba(180,180,180) solid;
    font-size: 16px;
}
#message::-webkit-input-placeholder{
    font-size: 16px;
    color:#707070;
}

#message:focus{
    outline: none;
}

#send_message{
    flex: none;
    width:35px;
    height: 35px;
    margin-left: 5px;
    border-radius: 20%;
}

#send_message:hover{
    cursor: pointer;
    
}


#arrow{
    width: 100%;
    /**transition: 1s ease-in-out;**/
}

.log{
    padding-bottom: 10px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
color: #b8b8b8;
opacity: 1; /* Firefox */
}


/* 訊息格子 */
.msg-box{
    margin-left: 15px;
    margin-top: 20px;
    width: 70%;
    word-break: break-word;
    color: black;
    font-family:sans-serif;
}

.msg-box>span{
    color:#52C0BC;
    font-size: 20px;
    font-weight: bold;
}



.msg_div{
    color: dimgray
} 


.message-time{
    margin-left: 20px;
    font-size: 12px;
    color:rgba(150,150,150);
}