body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background-color: rgb(240,240,240);
}
div{
    box-sizing: border-box;
}

.navmenu{
    position: fixed;
    top: 0px;
    bottom:0px;
    width:220px;
    background-color: #2D303C;
}

.navmenu-brand{
    width: 100%;
    height:200px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.navmenu-brand-logo{
    color:#F0754F;
    font-family: 'Caveat Brush', cursive;
    font-family: 'Grape Nuts', cursive;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Rubik Bubbles', cursive;
    font-size: 38px;
    flex: none;
    position: relative;
    right:30px;
}
.logo{
    width:50px;
    position: absolute;
    bottom: 6px;
    transform: translateX(10px);
}

.main-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.5fr 8.5fr;
    margin-left: 220px;
    min-height: 100vh;
}

@keyframes blink{
    0%{opacity: 0.1;}
    50%{opacity: 1}
    100%{opacity: 0.1;}
}

#loading{
    color:#F0754F ;
    position: relative;
    animation: blink 2s infinite;
    font-size: 25px;
    text-align: center;
    padding-top: 80px;
}
.calender-container{
    border-bottom: 3px rgb(211,211,211,0.5) solid;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color:rgb(225,225,225);

}

.record-container{
   display: grid;
   grid-template-columns: 1fr 1fr;
}

.right-record{
    display: grid;
    grid-template-rows:7fr 3fr;
    border-left: 2px lightgray solid;

}

.chart{
    border-bottom: 3px lightgray solid;
}

.plan-nutrition{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/*目前攝取 */

.current-status{
    border-right: 1px solid lightgray;
}
.plan-nutrition > .current-status > .current-title{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}
div.current{
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
 }

 div.current span{
     display: inline-block;
 }

.current-protein{
    color:#976fe8
}

.current-fat{
    color:#52C0BC
}

.current-carbohydrate{
    color:#FCB524
}


/*計畫攝取 */
.planned{
    text-align: center;
}

.plan-nutrition > .planned > .target-title{
    margin-top: 30px;
    margin-bottom: 20px;
    position: relative;
}

.plan-nutrition > .planned > .target-title > .edit-button{
    position: absolute;
    right:30px;
    display:inline-block;
    border-radius: 5px;
    width:50px;
    border:1px solid lightslategray
}

.plan-nutrition > .planned > .target-title > .edit-button:hover{
    cursor: pointer;
    color:#F0754F
}


div.plan{
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
 }

 div.plan span{
     display: inline-block;
 }










.left-record{
    display: flex;
    justify-content: center;
    align-items: center;
}

.intake-record{
    border: 0.5px lightgray solid;
    flex: none;
    width:80%;
    height:80%;
    border-radius: 10px;
    box-shadow: 3px 3px 5px 4px rgb(0 0 0 / 10%);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 9fr
}

.intake-record:hover{
    opacity: 0.8;
}


#input-area{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 15px;
    border-bottom: 3px lightgray solid;
}
#food_name{
    flex: none;
    width:50%;
    height:34px;
    font-size: 16px;
    padding-left: 5px;
    background-color: rgb(240,240,240);
    border-style: none;
    border-bottom: 2px solid lightgray;
}
#food_portion{
    flex: none;
    width:20%;
    height:34px;
    font-size: 16px;
    padding-left: 5px;
    background-color: rgb(240,240,240);
    border-style: none;
    border-bottom: 2px solid lightgray;
}


#food_name::-webkit-input-placeholder,#food_portion::-webkit-input-placeholder{
    font-size: 16px;
}

#food_name:focus,#food_portion:focus{
    outline: none;
}
#send_message{
    flex: none;
    width:35px;
    height: 35px;
}
#send_message:hover{
    cursor: pointer;
    box-shadow: 1px 1px 3px 2px rgb(0 0 0 / 20%);

}

#send_message:active{
    transform:translateX(2px) translateY(2px);
}
#add{
    width: 100%;
}


.consume-food{
    margin-top: 15px;
    overflow: auto;
}

.consume-food > ul{
    list-style: none;
    margin: 0px;
    padding-left: 10px;
    box-sizing: border-box;
}

.consume-food > ul > li{
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
    margin-bottom: 5px;
    border-bottom: 1px lightgray solid;
}

.consume-food > ul > li span{
    vertical-align: middle;
}



.delete{
    display: inline-block;
    width:20px;
    height: 20px;
    vertical-align: middle;
}

.delete:hover{
    cursor: pointer;
}

.delete>img{
    width:100%;
    height: 100%;
}


.datepicker-toggle{
    position: relative;
    flex:none;
    width:50px;
    height: 50px;
    left:100px;
}    

.datepicker-toggle-button {
    display: inline-block;
    width: 100%;
    height: 100%;         
}


.datepicker-input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    box-sizing: border-box;
}

.datepicker-input::-webkit-calendar-picker-indicator {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.show-date{
    position: relative;
    flex:none;
    width:200px;
    left:200px;
    font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 35px;
}

.user-profile{
    padding-top: 20px;
    text-align: left;
    padding-bottom: 20px;
    padding-left: 30px;
}
.user-profile::after{
    content: "";
    display: block;
    margin-top: 20px;
    border-bottom: 2px rgb(240,240,240,0.3) solid;
}


.user-profile:hover{
    cursor: pointer;
}

.profile_picture{
    display: inline-block;
    vertical-align: middle;
    background-color: aliceblue;
    border-radius: 50%;
    width: 40px;
}
.username{
    vertical-align: middle;
    font-size: 20px;
    font-style: italic;
    color: aliceblue;
}
.username:hover{
    color:#F0754F
}

.nav-page{
    color:aliceblue;
    font-size: 20px;
    padding-left: 30px;
    text-align:left;
    margin-top: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif
}
.nav-page:hover{
    color:#F0754F;
    cursor:pointer
}

.health-helper::after{
    content: "";
    display: block;
    margin-top: 40px;
    border-bottom: 2px rgb(240,240,240,0.3) solid;
}


.logout{
    color:aliceblue;
    position: absolute;
    bottom:20px;
    left:30px;
    font-size: 18px;
    font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif
}
.logout:hover{
    color:#F0754F;
    cursor:pointer
}



.stop-scrolling{
    height: 100%;
    overflow: hidden;
}

/*透明背景*/
.bg{
    background: rgba(0, 0, 0, 0.35);
    position:fixed;
    top:0px;
    width: 100%;
    height:100vh;
    z-index: 3;
}

@keyframes popout{
    0%{opacity: 0.1};
    50%{opacity: 0.5};
    100%{opacity: 1};
}



/*編輯匡*/
.edit-box{
    box-sizing: border-box;
    border-radius: 10px;
    width: 450px;
    position: relative;
    top:80px;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    animation: popout 1s ;
}

.edit-form{
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    background-color: #E8E8E8;
}

.edit-title{
    width: 100%;
    flex: none;
    margin-bottom: 35px;
    position: relative;
    font-weight: 900;
    font-size: 22px;
    color: lightslategray;
    padding-left: 30px;
}

.fill{
    width: 100%;
    flex: none;
    margin-bottom: 15px;
    padding-left: 30px;
    position: relative;
}

.fill > input{
    margin-right: 10px;
    vertical-align: middle;
    border-radius: 5px;
    border: 1px white solid;
    padding: 8px; 
}

.fill > span{
    vertical-align: middle;
}

.fill-protein{
    margin-top: 10px
}

.fill-fat,.fill-carbs{
    margin-top: 18px
}

.update-title{
    display: inline-block;
    width: 130px;
    font-weight: 700;
    font-size: 20px;
    color: #757575;
}

.update-remind{
    color: #757575;
    margin-top: 15px;
    padding-left: 30px;
}

.update-btn{
    position: absolute;
    right: 5px;
    bottom: 8px;
}

.close-update{
    margin-right: 15px;
    color: #757575;
}

.submit-update:hover{
    cursor: pointer;
    opacity: 0.8;
}

.close-update:hover{
    cursor: pointer;
    color: #F0754F;
}

.submit-update{
    background-color: #F0754F;
    border-radius: 8px;
    padding-right:4px;
    padding-left: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: lightyellow;;
}

.break{
    border: 0.8px solid #757575;
    width: 100%;
}

/*提示訊息*/
:root{
    --color: none;
}

.tip{
    color: white;
    font-size: 16px;
    position: absolute;
    height: fit-content;
    box-sizing: border-box;
    bottom: -25px;
    background-color: #F0754F;
    padding-left:4px;
    padding-right: 4px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 4px;
    box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.2);
    border-top: none;

}

.tip::after{
    content:'';
    height: 0;
    display: block;
    position: absolute;
    top:-9px;
    left:3px;
    border-bottom: 10px solid var(--color);
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}


#remind{
    display: none;
}

/*空白計畫區*/

.start-record{
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-box{
    border: 1px solid black;
    width: 85%;
    height: 90%;
    flex: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contain{
    flex: none;
    width: 85%;
    text-align: center;
}

#start-title{
    font-size: 24px;
}

#from-plan{
    border: 1px solid black;
    width: 70%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 30px;
    border-radius: 5px
}

#from-scratch{
    border: 1px solid black;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    margin-top: 15px;
    border-radius: 5px;
}

#from-plan:hover,#from-scratch:hover{
    cursor: pointer;
    color:#F0754F
}


/*挑出選擇計畫框框*/
.load-plan-box{
    box-sizing: border-box;
    border-radius: 10px;
    width: 600px;
    position: relative;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    animation: popout 1s;
}

.load-plan{
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    background-color: #E8E8E8;
}

.load-plan-title{
    display: block;
}

.diet-plan{
    width: 100%;
    position: relative;
    height: 400px
}

.plan-item{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    top: 0px;
    width: 100%;
    height: 30px;
    padding-right: 15px;
    padding-top: 10px;
    margin-bottom: 10px;
}

.plan-container{
    height: 350px;
    overflow: auto
}

.select-btn{
    position: absolute;
    right: 5px;
    bottom: 8px;
}

.cancel-select{
    margin-right: 15px;
    color: #757575;
    margin-left: 100px;
}

.cancel-select:hover{
    cursor: pointer;
    color:#F0754F
}




.submit-select{
    background-color: #F0754F;
    border-radius: 8px;
    padding-right: 4px;
    padding-left: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: lightyellow;
}

.submit-select:hover{
    opacity:0.6;
    cursor: pointer;
}

 /*選擇框框內的飲食計畫*/
.item{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    border: 1px solid lightslategrey;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px
} 

.item:hover{
    cursor: pointer;
    opacity: 0.6;
}


.selected{
    background-color: #F0754F;
    opacity: 0.8;
}

.reminder-select{
    display: inline-block;
    border: 1px solid lightgray;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 5px;
}

.tip::after{
    content:'';
    height: 0;
    display: block;
    position: absolute;
    top:-9px;
    left:3px;
    border-bottom: 10px solid var(--color);
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}




