.search-result{
    position: absolute;
    top: 46px;
    left: 20px;
    background: lightsalmon;
}
.u{
    list-style-type: none;
    border: 1px solid black;
    box-sizing: border-box;
    width: 200px;
    margin: 0px;
    padding: 0px;
    height:200px;
    overflow:auto;
}

li.food-item:hover{
    opacity: 0.7;
    cursor: pointer;
}