<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Macros Eat</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Grape+Nuts&family=Permanent+Marker&family=Rubik+Bubbles&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/cwtexyen.css">
    <link rel="stylesheet" href="{{url_for('static',filename='/css/index.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='/css/header_footer.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='/css/sign.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='/css/firsttime.css')}}">
</head>
<body>
    <div class="section-1">
        <div class="nav">
            <div class="header-1">
                Macros Eat
            </div>
        </div>
    </div>
    <div class="section-2">
        <div class="signinbox">
            <div class="content" style="height: 250px;">
                <div class="head">Log in</div>
                <input class="email" placeholder="email" type="text">
                <input class="pass" placeholder="password" type="password">
                <select name="identity">
                    <option value="0">Choose your identity</option>
                    <option value="1">General user</option>
                    <option value="2">Nutritionist</option>
                </select>
                <div id="signbtn">Log in</div>
                <div class="tosignup">Not a member ? Sign up.</div>
            </div>
        </div>
    </div>
    
    <div class="section-4">
        <span>COPYRIGHT © 2022 Macros Eat</span>
    </div>
    <script type="text/javascript" src="/js/firsttime.js"></script>
    <script type="text/javascript" src="/js/sign.js"></script>
</body>
</html>